@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
    <h1>Политика конфиденциальности</h1>

<p>Данный курс создан исключительно в целях распространения его автором!</p>
<p>Любое несанкционированное копирование материалов или распространение данного курса будет вести к уголовной ответственности 
    в соответствии с Европейским законом по защите авторских прав. Все споры будут решаться в суде города Хельсинки (Финляндия).
    Если виновник процесса находится в иной стране, то суд будет проходить без его участия, а решение
    будет передано для исполнения по линии Интерпол в соответствующую страну.</p>
<p>Все судебные издержки будет оплачивать подсудимый</p>
